
/*=================font family import=============*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400&display=swap');

/*================== design start=======================*/


body{
    margin:0;
    padding:0;
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}
 /*==================== Basic task======================== */
 .btn{
	padding: 10px 25px;
	background:orange;
	color:black;
	border:none;
	outline:none;
	border-radius: 5px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 400;
 }
 .btn-1{
	margin:0 20px;
 }

 span{

	color:#F77B01;

 }
 h1{
	font-size:30px;
	font-weight: 800;
	color:#fff;

 }
 .btn:hover{
	box-shadow: 1px 1px 0 rgb(230, 202, 150),-1px -1px 0 rgb(230, 202, 150);
 }

 nav ul li a::before{
	display: block;
	content: "";
	background-color: #fff;
	height:100%;
	width:2px;
	top:0;
	left: -20px;
	position: absolute;
 }


/* ============home page design=========*/

header{
	height: 100vh;
	background:white;
}
nav{
	display: flex;
	padding:10px 5%;
	justify-content: space-between;
	height:60px;
	background-color: #1D1D1B;
	align-items: center;
}
nav > ul {
	list-style: none;
}
nav > ul li {
	display: inline-block;
	padding:10px 25px;
	margin-left: 20px;
}
nav a {
	text-decoration: none;
	color:#fff;
	font-size: 18px;
	font-weight: 600;
	position: relative;
}
.contain-box{
	display: flex;
	justify-content: space-around;
	padding:0 15%;
	align-items: center;
}
.contain-text{
	padding:0 400px 0 0;
}
.contain-text p{
	font-weight: 200;
	font-size: 16px;
	text-align: justify;
}
.contain-text h2{
	font-size: 30px;
	font-weight: 800;
	margin: 10px 0;
}
.imge-box img{
  padding:40px 50px;
}
.btn-box{
	margin-top: 50px;
}

/* ===============home page design end================*/
















/* ============foooter page design============== */


 /* footer{
	background-color: #1D1D1B;
	height:20vh;
 } */
 .lower-footer{
	height: 20px;
	background-color: black;
	color:white;
 }