
/*=================font family import=============*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400&display=swap');

/*================== design start=======================*/


body{
    margin:0;
    padding:0;
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
    transition: .5s;

}
 /*==================== Basic task======================== */
 .btn{
	padding: 10px 25px;
	background:#F77B01;
	color:black;
	border:none;
	outline:none;
	border-radius: 5px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 400;
	margin-right:20px;
 }

 span{

	color:#F77B01;

 }
 h1{
	font-size:30px;
	font-weight: 800;
	color:#fff;

 }
 h2{
	color: #F77B01;
	font-weight: 600;
	text-transform: capitalize;
 }
 h3{
	font-size: 25px;
	text-transform: capitalize;
 }
 .btn:hover{
	box-shadow: 1px 1px 0 rgb(230, 202, 150),-1px -1px 0 rgb(230, 202, 150);
 }

 nav ul li a::before{
	display: block;
	content: "";
	background-color: #fff;
	height:100%;
	width:2px;
	top:0;
	left: -20px;
	position: absolute;
 }

 nav ul li a::after{
	display: block;
	content: "";
	background-color: #fff;
	height:3px;
	width:0;
	top:-8px;
	right:0;
	position: absolute;
	transition: .5s;
 }
 nav ul li a:hover::after{
	width: 100%;
 }
 p{
	font-family: sans-serif;
	font-weight: 200;
	font-size: 14px;
 }
/* ============home page design=========*/

header{
	height: 100vh;
	background:white;
}
nav{
	display: flex;
	padding:10px 10%;
	justify-content: space-between;
	height:60px;
	background-color: #1D1D1B;
	align-items: center;
}
nav > ul {
	list-style: none;
}
nav > ul li {
	display: inline-block;
	padding:10px 25px;
	margin-left: 20px;
}
nav a {
	text-decoration: none;
	color:#fff;
	font-size: 18px;
	font-weight: 600;
	position: relative;
}
.contain-box{
	display: flex;
	justify-content: space-around;
	padding:0 15%;
	align-items: center;
}
.contain-text{
	padding:0 400px 0 0;
}
.contain-text p{
	font-weight: 200;
	font-size: 16px;
	text-align: justify;
}
.contain-text h2{
	font-size: 30px;
	font-weight: 800;
	margin: 10px 0;
}
.imge-box img{
  padding:40px 50px;
}
.btn-box{
	margin-top: 50px;
}

/* ===============home page design end================*/
/*============== about page design=============== */

.about{
	height: 80vh;
	background-color:#1D1D1B;
	text-align: center;
	padding:80px 20% 0;
	color:#fff;
	

}
.about .contain{
	padding:50px 20% 0;
	font-weight: 400;
	
}
/* ===============about page end========= */
/* ==========service page design========== */
.service{
	height:80vh;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	gap:20px;
	align-items: center;
	text-align: center;
	padding: 20px 10%;
}
.service img{
	width: 100px;
	height: 100px;
	border-radius: 50%;

}
.service .col{
	padding:40px 30px;
	border:1px solid lightgray;
	background-color:#1D1D1B;
	border-radius: 5px;
	box-shadow: 2px 3px 3px black;
}
.service .col p{
	color:#fff;
}
/* ==========service page design end============= */
/* ========blog page design start============ */
.blog{
	height: 70vh;
	background-color: #1D1D1B;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:50px 10%;
	gap:20px;
}
.blog img{
	border:5px solid black;
	box-shadow: 2px 2px 2px black;
	border-radius: 10px;
}
.blog .col{
	padding: 30px;
	background-color: rgb(255, 255, 255);
	box-shadow: 2px 2px 0 rgb(5, 5, 5),-2px -2px 0 rgb(10, 10, 10);
	border-radius: 10px;
}
 /* ============gallary start=============== */
.gallary{
	height: 80vh;
	background-color: #fff;
	padding:50px 5%;
}

.gallary img{
	border:5px solid black;
	border-radius: 10px;
}
.gallary .gallary-one{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap:10px;

	
}
.gallary .gallary-two{
	display: flex;
	justify-content: space-between;
	padding:10px;
	align-items: center;
}







/* ============foooter page design============== */


 /* footer{
	background-color: #1D1D1B;
	height:20vh;
 } */
 .lower-footer{
	display: flex;
	align-items: center;
	margin: auto;
	height: 50px;
	background-color: black;
	color:white;
	justify-content: center;
 }
 .upper-footer{
	display: flex;
	height: 40vh;
	background-color: #1D1D1B;
	justify-content: space-around;
	color:white;
	gap:20px;
	align-items: center;
	padding:50px 10%;



 }
.upper-footer .col-4{
	
	padding:20px;
	width: 280;
	height: 355;
	width: 100%;

}
.upper-footer .col-3{
 padding:40px;
 font-weight: 400;
 width: 100%;
}
.upper-footer .col-2{
	font-weight: 400;
	width: 100%;
   }
   .upper-footer .col-1{
	padding:40px;
	font-weight: 400;
	width: 100%;
   }
.upper-footer textarea{
	margin-bottom: 20px;
	display: block;
	width:100%;
	
}
.upper-footer input[type="email"] ,input[type="password"]{
	display: block;
	width: 100%;
	margin:10px 0;
}
.upper-footer ul li {
	margin: 10px;
	list-style-type: style disc;
}
